<ion-view view-title="Debugging">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="button-bar">
      <button class="button icon" ng-click="vm.seedDatabase()">
        <i class="ion-flash"></i> Seed Data</button>
      <button class="button icon" ng-click="vm.clearDatabase()">
        <i class="ion-gear-a"></i> Clear Data</button>
    </div>
    <ion-list>
      <ion-item class="item item-text-wrap" ng-repeat="l in vm.logs">
        {{l}}
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
