<ion-view title="Roster" id="page11">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-toggle toggle-class="toggle-balanced">Jenny</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced">Kate</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced">Lily</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced">Monica</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced">Tommy</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>