<ion-view title="Student" id="page9" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <form class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Student's Name">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Parent's Name">
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="Parent's Email">
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="Parent's Phone">
                    </label>
                </form>
            </div>
        </div>
        <form class="list"></form>
    </ion-content>
</ion-view>