<form class="list">
  <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="" ng-model="search">
            </label>
</form>
<ion-list show-delete="showDelete">
  <ion-item ng-repeat="student in items | filter:{name:search} | filter:showUser | orderBy:'name'" 
    class="item-remove-animate item-icon-right" ng-click="selected(student)">
    {{student.name}}
    <ion-delete-button class="ion-minus-circled"
        ng-click="deleted(student)">
    </ion-delete-button>
    <i class="icon {{icon}} {{color}}" ng-if="showPerson(student)" />
  </ion-item>
</ion-list> 