<ion-view title="Students" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="tabsController.student">Mary</ion-item>
            <ion-item ui-sref="tabsController.student">Billy</ion-item>
            <ion-item ui-sref="tabsController.student">Bobby</ion-item>
            <ion-item ui-sref="tabsController.student">Jenny</ion-item>
            <ion-item ui-sref="tabsController.student">Kate</ion-item>
            <ion-item ui-sref="tabsController.student">Lily</ion-item>
            <ion-item ui-sref="tabsController.student">Monica</ion-item>
            <ion-item ui-sref="tabsController.student">Timmy</ion-item>
            <ion-item ui-sref="tabsController.student">Tommy</ion-item>
        </ion-list>
    </ion-content>
</ion-view>